@forward "./home.scss";
@forward "./utils.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
}
